In [67]:
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn import neighbors

In [68]:
df = pd.read_csv('D:/People Charm case.csv')

In [69]:
df.head()

,satisfactoryLevel,lastEvaluation,numberOfProjects,avgMonthlyHours,timeSpent.company,workAccident,left,promotionInLast5years,dept,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.37,0.52,2,159,3,0,1,0,sales,low
4,0.41,0.50,2,153,3,0,1,0,sales,low

In [70]:
df.isnull().sum()

satisfactoryLevel        0
lastEvaluation           0
numberOfProjects         0
avgMonthlyHours          0
timeSpent.company        0
workAccident             0
left                     0
promotionInLast5years    0
dept                     0
salary                   0
dtype: int64

In [71]:
dept = pd.get_dummies(df['dept'], drop_first=True)
df.drop(['dept'], axis = 1, inplace = True)
df = pd.concat([df,dept], axis=1)

In [72]:
x = df.drop(['salary'], axis = 1)

In [73]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 17 columns):
satisfactoryLevel        14999 non-null float64
lastEvaluation           14999 non-null float64
numberOfProjects         14999 non-null int64
avgMonthlyHours          14999 non-null int64
timeSpent.company        14999 non-null int64
workAccident             14999 non-null int64
left                     14999 non-null int64
promotionInLast5years    14999 non-null int64
RandD                    14999 non-null uint8
accounting               14999 non-null uint8
hr                       14999 non-null uint8
management               14999 non-null uint8
marketing                14999 non-null uint8
product_mng              14999 non-null uint8
sales                    14999 non-null uint8
support                  14999 non-null uint8
technical                14999 non-null uint8
dtypes: float64(2), int64(6), uint8(9)
memory usage: 1.0 MB

In [74]:
y = df['salary']

In [75]:
y

0           low
1        medium
2        medium
3           low
4           low
5           low
6           low
7           low
8           low
9           low
10          low
11          low
12          low
13          low
14          low
15          low
16          low
17          low
18          low
19          low
20          low
21          low
22          low
23          low
24          low
25          low
26          low
27          low
28          low
29          low
          ...
14969       low
14970    medium
14971       low
14972       low
14973    medium
14974    medium
14975       low
14976      high
14977       low
14978       low
14979      high
14980    medium
14981      high
14982    medium
14983       low
14984       low
14985    medium
14986    medium
14987    medium
14988       low
14989    medium
14990      high
14991    medium
14992       low
14993      high
14994    medium
14995       low
14996       low
14997       low
14998       low
Name: salary, Length: 14999, dtype: object

In [76]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25, random_state = 0)

In [77]:
clf = neighbors.KNeighborsClassifier(n_neighbors =2)
clf.fit(x_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=2, p=2,
           weights='uniform')

In [79]:
clf.score(x_test, y_test)

0.5426666666666666

0.5032447328651436